# npm stuff
node_modules/
.node_modules/
npm-debug.log*

# node
.node_repl_history
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# secrets
.env

# os-specific garbage
.DS_STORE
Thumbs.db

# editor garbage
*.iml
.idea
/env
