extends layout

block content
  h1 About GeoBound 
  p
    | GeoBound is a web app that helps users stay accountable to their commitments through location services. For example, if you set a commitment to go to the gym three times a week, GeoBound will only allow you to log that commitment as complete if you are physically at the gym.
  p
    | GeoBound is a great way to stay on track with your goals and make sure that you are making progress. It is also a great way to motivate yourself to stay active and healthy.
