extends layout

block content


  h1.display-2.custom-heading.rounded-bg  GeoBound 
  p.fw-light(style='font-size: 20px;  ')
    | GeoBound is a web app that helps users stay accountable to their commitments through location services. For example, if you set a commitment to go to the gym three times a week, GeoBound will only allow you to log that commitment as complete if you are physically at the gym.
  p.fw-light(style='font-size: 20px;  ')
    | Tools Used: node.js, pug.js, mongodb, bootstrap, express.js, Tile38

