extends layout

block content
  head
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container.text-center.myBlur
      h1.commitBodyText.rounded-bg Manage your commitments below: