extends layout

block content
    // ---Header section
    section#header2
      my-header
    // Contact Us Form
    .container.pt-5(style='margin-bottom: 100px;')
      .row
        .col-md-5
          h4.display-6.mb-4(style='font-weight: 500; font-size: 50px;') Contact Us
          p.fw-light(style='font-size: 20px;')
            | Fill out this form with your questions and/or comments and we will get back to you as soon as possible.
        .col-md-7.px-md-5
          form(action='https://formcarry.com/s/fqePDxZAzX' method='POST' accept-charset='UTF-8')
            .mb-3
              label.small.text-light.fw-light.mb-2(for='email') Email address
              div
                input#email.form-control.rounded-0(type='email' name='email' placeholder='Email' required='')
            .mb-3
              label.small.text-light.fw-light.mb-2(for='name') First Name
              input#email.form-control.rounded-0(type='text' name='firstName' placeholder='First Name' required='')
            .mb-3
              label.small.text-light.fw-light.mb-2(for='name') Last Name
              input#email.form-control.rounded-0(type='text' name='lastName' placeholder='Last Name' required='')
            .mb-3
              label.small.text-light.fw-light.mb-2(for='message') Message
              div(style='align-items: top;')
                textarea#email.form-control.rounded-0(type='text' name='anotherInput' style='height: 150px; padding-bottom: 100px !important; text-overflow: wrap;' placeholder='Message' required='')
            .text-end
              a(href='thankyou.html')
                button.btn.btn-outline-light.rounded-0.px-5(type='submit' id='')
                  | Send