extends layout

block content
    head
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        .container.text-right.align-text-bottom.w-75
            h2.display-3.custom-heading.rounded-bg Stay accountable, wherever you are.
