extends layout

block content
    head
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body

        .container.text-center.align-text-bottom
            h1.display-2.custom-heading.rounded-bg Stay accountable, wherever you are.
            unless isAuthenticated
                p.mt-4 To start, click "Log in" in the top right.
