doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(language='javascript' src='node_modules/bootstrap/.../bootstrap.min.js')
  body
    block content
