doctype html
html

  head
    title= title

    script(language='javascript' src='node_modules/bootstrap/.../bootstrap.min.js')
    link(href='https://fonts.googleapis.com/css?family=Montserrat&display=swap' rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.custom-navbar.sticky-top
      a.navbar(href='#')
        img(src='/images/mainlogo.svg', height='35', alt='Navbar Beep')
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse.mx-auto
        ul.navbar-nav
          li.nav-item.active
            a.nav-link(href='/')
              | Home
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='#') Commitments
          li.nav-item
            a.nav-link(href='about') About
          li.nav-item
            a.nav-link(href='contact') Contact
        ul.navbar-nav.ml-auto
            li.nav-item
              if isAuthenticated
                a.nav-link(href='/logout', style='color: #3EB489;')
                  | Log out
              else
                a.nav-link(href='/login', style='color: #3EB489;')
                  | Login
    block content
    link(href='https://fonts.googleapis.com/css?family=Montserrat&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')

    //Do not touch
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/style.css')

    // Footer
    footer.bg-dark.text-center.text-white
      | &copy; 2023 Copyright
      a.text-white(href='#') HackUIowa, Geobound
