doctype html
html

  // Add the link to Montserrat font
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(language='javascript' src='node_modules/bootstrap/.../bootstrap.min.js')
    link(href='https://fonts.googleapis.com/css?family=Montserrat&display=swap' rel='stylesheet')

  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.custom-navbar
      a.navbar(href='#')
        img(src='/images/mainlogo.svg', height='35', alt='Navbar Beep')
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse.mx-auto
        ul.navbar-nav
          li.nav-item.active
            a.nav-link(href='#')
              | Home
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='#') Commitments
          li.nav-item
            a.nav-link.active(href='about') About
          li.nav-item
            a.nav-link.active(href='contact') Contact

    main
      block content

    // Footer
    footer.bg-dark.text-center.text-white
      | &copy; 2023 Copyright:
      a.text-white(href='#') HackUIowa, Geobound
