html {
    font-family: 'Gabarito', sans-serif;
    font-size: 20px;
    line-height: 1;
}

body {
    font-family: 'Gabarito', sans-serif;
    font-size: 20px;
    line-height: 1;
    background-color: #FAFAFF;
    background-image: url('Splash.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
}

.custom-heading3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: #3EB489;
    padding-top: 0%;
    border-radius: 60px;
    text-shadow: 0.5px 0.5px 1px black;
}

.custom-heading2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: #3EB489;
    padding-top: 3%;
    backdrop-filter: blur(4px) saturate(60%);
    border-radius: 60px;
}

.custom-heading {
    font-family: 'Gabarito', sans-serif;
    color: #11593f;
    padding-top: 5%;
    border-radius: 60px;

}

.custom-box {
    background: #3EB489;
    padding: 20px;
    margin: 20px;
    color: #FAFAFF;
    border-radius: 1em;
}

.commitBodyText{
    font-family: 'Gabarito', sans-serif;
    font-weight: bolder;
    color: #2e755c;
    padding-top: 5%;
}

.dark-green{
    color: #11503a;
}

.myBlur{
    background:rgba(250, 250, 255, .8);
    filter: drop-shadow(0 0 0.75rem gray);
    border-radius: 25px;
}

.signButton{

    background-color: #3EB489;
    border-color: #004f30;

}
.signButton:hover {
    color: #FFFFFF;
    background-color: #073d2a;
    border-color: #004f30
}

.cushadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
main {
    flex: 1;
    padding: 2em;
}

footer {
    position: absolute; /* might cause issues later, oh well */
    background-color: #313638;
    padding: 1rem;
    bottom: 0;
    width: 100%;
}

