html {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 1;
    background-color: #FAFAFF;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1;
    background-color: #FAFAFF;
}

main {
    flex: 1;
}

footer {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1rem;
    text-align: center;
    margin-top: auto;
}

