html {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 1;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 1;
    background-color: #FAFAFF;
    background-image: url('Splash.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
}


.custom-heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: #3EB489;
    padding-top: 5%;
    text-shadow: 3px 3px 5px #004f30;

}
.commitBodyText{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: #2e755c;
    padding-top: 5%;
}

.myBlur{
    background:rgba(250, 250, 255, .8);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

main {
    flex: 1;
    padding: 2em;
}

footer {
    position: absolute; /* might cause issues later, oh well */
    background-color: #313638;
    padding: 1rem;
    bottom: 0;
    width: 100%;
}

